body {
    background-image: url('../img/bg2.jpg');
}

.note {
    background-color: LemonChiffon;
    border: 1px solid darkgray;
    box-shadow: 5px 5px 15px black;
    margin-bottom: 10px;
    padding: 10px;
    max-width: 250px;
    border-radius: 5px;
    min-width: 150px;
}

#notes-container {
    background-color: rgba(255, 255, 255, 0.6);
    width: 80%;
    margin-left: 10%;
    padding: 10px;
    max-height: 70vh;
    overflow-y: auto;
    border: 1px solid darkgray;
    box-shadow: 10px 10px 15px black;
    text-align: center;
}

#notes-container>* {
    display: inline-block;
    /* vertical-align: top; */
    margin-right: 5px;
}

#notes-container .note-user {
    font-size: 6pt;
    display: inline-block;
}

#notes-container .note-user img {
    max-width: 64px;
    max-height: 64px;
    size: auto;
}

.note-right {
    display: inline-block;
    vertical-align: top;
}

#is-js-loading {
    width: 100px;
    margin-left: auto;
    margin-right: auto;
    background-color: red;
}

#notes-container .note-titre {
    text-align: center;
    font-weight: 700;
    margin-bottom: 8px;
}

.img-close img {
    width: 15px;
    height: 15px;
}

.img-close {
    text-align: right;
    margin-bottom: -15px;
}


/* 

Css du formulaire  

*/

#form-buttons {
    text-align: center
}

#edit-note,
#edit-note textarea {
    margin-left: auto;
    margin-right: auto;
}

#edit-note textarea {
    max-width: 100%;
}

#input-date,
#input-time {
    display: inline;
    width: 45%;
}

.invalid-input {
    background-color: red;
}